body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f7faff;

}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  text-align: center;
  width: 350px;
  min-height: 350px;
  padding: 24px 12px;
}

.wrapper h1, .modal-content h1 {
  margin: 12px 0;
  font-size: 24px;
}

p.subtext {
  color: #aaa;
  margin: 4px 0;
}

form {
  display: flex;
  flex-direction: column;
}

input, select {
  display: flex;
  flex-direction: row;
  height: 32px;
  margin: 8px;
  line-height: 32px;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px solid #eee;
}

button.submit {
  display: flex;
  flex-direction: row;
  height: 32px;
  margin: 8px;
  cursor: pointer;
  text-align:center;
  padding: 0 130px;
}

button.submit.cta-dark {
  width: auto;
}

.map {
  height: 280px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.list-items {
  flex: 1 0 auto;
  background-color: #fff;
  border: 1px solid #eee;
  max-height: 200px;
  overflow: scroll;
}

ul.list-items .list-item {
  border-top: 1px solid #eee;
  padding: 12px;
  text-align: left;
}

ul.list-items .list-item:first-child {
  border-top: none;
}

ul.list-items .list-item:hover {
  background-color: #eee;
  cursor: pointer;
}

ul.list-items .list-item h1 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 2px;
}

ul.list-items .list-item p {
  color: #ccc;
  margin: 2px 0;
  font-weight: 300;
}

.cta-container {
  margin-top: 32px;
}

.cta-light, .cta-dark {
  display: block;
  width: 120px;
  margin: 8px auto;
  padding: 12px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
}

.cta-light {
    background-color: #eee;
    color: #0094DA;
    border: 1px solid #eee;
}

.cta-light:hover {
  background-color: #ddd;
  cursor: pointer;
}

.cta-dark {
  background-color: #0094DA;
  color: #fff;
  border: 1px solid #0094DA;
}

.cta-dark:hover {
  background-color: #374f77;
  cursor: pointer;
}

.modal-content {
  text-align: center;
}

.modal-content button {
  margin-top: 32px;
}

#headerlogo {
  padding-top: 50px;
  width: 450px;
}
